<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rsSettings" type="RS.System.Configuration.ConfigurationHandler, RS.System.Configuration" />
    <section name="insightSettings" type="ReflectSoftware.Insight.ConfigurationHandler,ReflectSoftware.Insight" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="TTSEntities" 
    connectionString="metadata=res://*/TTSModel.csdl|res://*/TTSModel.ssdl|res://*/TTSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=local;initial catalog=TTS-Demo;persist security info=True;user id=user;password=password;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
    providerName="System.Data.EntityClient" />
  </connectionStrings>
  <rsSettings>
    <workManager applicationName="WorkManager Demo Service" waitOnTerminateThread="15000" reactOnConfigChange="true" eventTracker="20">
      <worker mode="on" name="DemoWorker1" type="SpeechSynthesizerService.Service.Worker.TTSWorker, SpeechSynthesizerService.Service.Worker" workSleep="30000" aliveResponseWindow="0" instances="1" />
    </workManager>              
  </rsSettings>
  <insightSettings>
    <baseSettings>
      <configChange enabled="true" />
      <enable state="all" />
      <propagateException enabled="false" />
      <global category="ReflectInsight" />
      <senderName name="TTSServicePOC" />
      <exceptionEventTracker time="0" />
      <requestObject requestLifeSpan="10" />
      <debugMessageProcess enabled="true" />
    </baseSettings>
    <files default="">
      <autoSave name="save1" onNewDay="true" onMsgLimit="1000000" recycleFilesEvery="50" />
    </files>
    <!-- Message Patterns -->
    <messagePatterns>
      <messagePattern name="pattern1" pattern="[%time{yyyyMMdd, HH:mm:ss.fff}%] - %message%, %threadid% [%messagetype%]" />
    </messagePatterns>
    <!-- Listener Groups -->
    <listenerGroups active="Debug">
      <group name="Debug" enabled="true" maskIdentities="false">
        <destinations>
          <destination name="Viewer" enabled="true" details="Viewer[ spawn=false ]" />
          <destination name="BinaryFile" enabled="true" filter="" details="BinaryFile[path=$(workingdir)\Logs\Log.rlg; autoSave=save1]" />
        </destinations>
      </group>
    </listenerGroups>
    <!-- Log Managers -->
    <logManager default="common">
      <instance name="common" category="Common" />
    </logManager>
    <exceptionManagement mode="on">
      <publisher mode="on" name="LogTextEventPublisher" type="RI.Utils.ExceptionManagement.ExceptionLogTextFilePublisher, ReflectSoftware.Insight" filePath="$(workingdir)\Logs\ri_exceptions.txt" recycle="7" />
    </exceptionManagement>
  </insightSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>